html {
    font-size: 100%;
}
body {
    font-family:"Zen Maru Gothic", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
    background-color: #f4f4f4;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    width: 90%;
    margin-bottom: 6%;
}
.subtitle-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5%;
}
.subtitle-line {
    height: 40px;
    width: 0;
    border-left: thick solid #432;
    align-self: center;
}
.subtitle {
    font-size: 32px;
    padding-left: 16px;
    align-self: center;
}

/* ----------
---- NAV ----
------------- */
nav {
    width: 40%;
    min-width: 220px;
    height: 100vh;
    font-family: 'Zen Maru Gothic', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    background: #eef0f3;
    margin-right: 5%;
    position: sticky;
    top: 0;
}

#home {
    display: flex;
    justify-content: space-between;
}

/* main logo */
.logo_bg-container {
    padding: 40px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_bg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #eef0f3;
    box-shadow: inset 5px 5px 8px #bec0c2, inset -5px -5px 8px #ffffff;
}
.logo {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 12px;
    margin-left: 12px;
    position: relative;
}

/* related links */
.list-inline{
    width: 55%;
    min-width: 180px;
    height: 30px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}
.list-inline-item {
    list-style: none;
}
.list-inline-item .logo-list {
    width: 26px;
    height: 26px;
}

/* --------------
---- ARTICLE ----
--------------- */
article {
    margin: 50px 0 100px;
}
.interests {
    list-style-position: inside;
}

/* --------------
---- FOOTER ----
--------------- */
footer {
    background: #432;
    text-align: center;
    padding: 18px 0;
    color: white;
}